.cbbag-absolute-zero {
    background-color: #0048ba !important;
    border-color: #0048ba !important;
}

.cbbag-acid-green {
    background-color: #b0bf1a !important;
    border-color: #b0bf1a !important;
}

.cbbag-aero {
    background-color: #7cb9e8 !important;
    border-color: #7cb9e8 !important;
}

.cbbag-african-violet {
    background-color: #b284be !important;
    border-color: #b284be !important;
}

.cbbag-air-force-blue {
    background-color: #5d8aa8 !important;
    border-color: #5d8aa8 !important;
}

.cbbag-air-force-blue-2 {
    background-color: #00308f !important;
    border-color: #00308f !important;
}

.cbbag-air-superiority-blue {
    background-color: #72a0c1 !important;
    border-color: #72a0c1 !important;
}

.cbbag-alabama-crimson {
    background-color: #af002a !important;
    border-color: #af002a !important;
}

.cbbag-alien-armpit {
    background-color: #84de02 !important;
    border-color: #84de02 !important;
}

.cbbag-alizarin-crimson {
    background-color: #e32636 !important;
    border-color: #e32636 !important;
}

.cbbag-alloy-orange {
    background-color: #c46210 !important;
    border-color: #c46210 !important;
}

.cbbag-amaranth {
    background-color: #e52b50 !important;
    border-color: #e52b50 !important;
}

.cbbag-amaranth-deep-purple {
    background-color: #9f2b68 !important;
    border-color: #9f2b68 !important;
}

.cbbag-amaranth-pink {
    background-color: #f19cbb !important;
    border-color: #f19cbb !important;
}

.cbbag-amaranth-purple {
    background-color: #ab274f !important;
    border-color: #ab274f !important;
}

.cbbag-amaranth-red {
    background-color: #d3212d !important;
    border-color: #d3212d !important;
}

.cbbag-amazon {
    background-color: #3b7a57 !important;
    border-color: #3b7a57 !important;
}

.cbbag-amazonite {
    background-color: #00c4b0 !important;
    border-color: #00c4b0 !important;
}

.cbbag-amber {
    background-color: #ffbf00 !important;
    border-color: #ffbf00 !important;
}

.cbbag-amber2 {
    background-color: #ff7e00 !important;
    border-color: #ff7e00 !important;
}

.cbbag-american-blue {
    background-color: #3b3b6d !important;
    border-color: #3b3b6d !important;
}

.cbbag-american-green {
    background-color: #34b334 !important;
    border-color: #34b334 !important;
}

.cbbag-american-orange {
    background-color: #ff8b00 !important;
    border-color: #ff8b00 !important;
}

.cbbag-american-red {
    background-color: #b32134 !important;
    border-color: #b32134 !important;
}

.cbbag-american-rose {
    background-color: #ff033e !important;
    border-color: #ff033e !important;
}

.cbbag-amethyst {
    background-color: #9966cc !important;
    border-color: #9966cc !important;
}

.cbbag-android-green {
    background-color: #a4c639 !important;
    border-color: #a4c639 !important;
}

.cbbag-anti-flash-white {
    background-color: #f2f3f4 !important;
    border-color: #f2f3f4 !important;
}

.cbbag-antique-brass {
    background-color: #cd9575 !important;
    border-color: #cd9575 !important;
}

.cbbag-antique-bronze {
    background-color: #665d1e !important;
    border-color: #665d1e !important;
}

.cbbag-antique-fuchsia {
    background-color: #915c83 !important;
    border-color: #915c83 !important;
}

.cbbag-antique-ruby {
    background-color: #841b2d !important;
    border-color: #841b2d !important;
}

.cbbag-antique-white {
    background-color: #faebd7 !important;
    border-color: #faebd7 !important;
}

.cbbag-ao {
    background-color: #008000 !important;
    border-color: #008000 !important;
}

.cbbag-apple {
    background-color: #66b447 !important;
    border-color: #66b447 !important;
}

.cbbag-apple-green {
    background-color: #8db600 !important;
    border-color: #8db600 !important;
}

.cbbag-apricot {
    background-color: #fbceb1 !important;
    border-color: #fbceb1 !important;
}

.cbbag-aqua {
    background-color: #00ffff !important;
    border-color: #00ffff !important;
}

.cbbag-aquamarine {
    background-color: #7fffd4 !important;
    border-color: #7fffd4 !important;
}

.cbbag-arctic-lime {
    background-color: #d0ff14 !important;
    border-color: #d0ff14 !important;
}

.cbbag-army-green {
    background-color: #4b5320 !important;
    border-color: #4b5320 !important;
}

.cbbag-arsenic {
    background-color: #3b444b !important;
    border-color: #3b444b !important;
}

.cbbag-artichoke {
    background-color: #8f9779 !important;
    border-color: #8f9779 !important;
}

.cbbag-arylide-yellow {
    background-color: #e9d66b !important;
    border-color: #e9d66b !important;
}

.cbbag-ash-gray {
    background-color: #b2beb5 !important;
    border-color: #b2beb5 !important;
}

.cbbag-asparagus {
    background-color: #87a96b !important;
    border-color: #87a96b !important;
}

.cbbag-atomic-tangerine {
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
}

.cbbag-auburn {
    background-color: #a52a2a !important;
    border-color: #a52a2a !important;
}

.cbbag-aureolin {
    background-color: #fdee00 !important;
    border-color: #fdee00 !important;
}

.cbbag-aurometalsaurus {
    background-color: #6e7f80 !important;
    border-color: #6e7f80 !important;
}

.cbbag-avocado {
    background-color: #568203 !important;
    border-color: #568203 !important;
}

.cbbag-awesome {
    background-color: #ff2052 !important;
    border-color: #ff2052 !important;
}

.cbbag-axolotl {
    background-color: #63775b !important;
    border-color: #63775b !important;
}

.cbbag-aztec-gold {
    background-color: #c39953 !important;
    border-color: #c39953 !important;
}

.cbbag-azure {
    background-color: #007fff !important;
    border-color: #007fff !important;
}

.cbbag-azure-2 {
    background-color: #f0ffff !important;
    border-color: #f0ffff !important;
}

.cbbag-azure-mist {
    background-color: #f0ffff !important;
    border-color: #f0ffff !important;
}

.cbbag-azureish-white {
    background-color: #dbe9f4 !important;
    border-color: #dbe9f4 !important;
}

.cbbag-baby-blue {
    background-color: #89cff0 !important;
    border-color: #89cff0 !important;
}

.cbbag-baby-blue-eyes {
    background-color: #a1caf1 !important;
    border-color: #a1caf1 !important;
}

.cbbag-baby-pink {
    background-color: #f4c2c2 !important;
    border-color: #f4c2c2 !important;
}

.cbbag-baby-powder {
    background-color: #fefefa !important;
    border-color: #fefefa !important;
}

.cbbag-baker-miller-pink {
    background-color: #ff91af !important;
    border-color: #ff91af !important;
}

.cbbag-ball-blue {
    background-color: #21abcd !important;
    border-color: #21abcd !important;
}

.cbbag-banana-mania {
    background-color: #fae7b5 !important;
    border-color: #fae7b5 !important;
}

.cbbag-banana-yellow {
    background-color: #ffe135 !important;
    border-color: #ffe135 !important;
}

.cbbag-bangladesh-green {
    background-color: #006a4e !important;
    border-color: #006a4e !important;
}

.cbbag-barbie-pink {
    background-color: #e0218a !important;
    border-color: #e0218a !important;
}

.cbbag-barn-red {
    background-color: #7c0a02 !important;
    border-color: #7c0a02 !important;
}

.cbbag-battery-charged-blue {
    background-color: #1dacd6 !important;
    border-color: #1dacd6 !important;
}

.cbbag-battleship-grey {
    background-color: #848482 !important;
    border-color: #848482 !important;
}

.cbbag-bazaar {
    background-color: #98777b !important;
    border-color: #98777b !important;
}

.cbbag-beau-blue {
    background-color: #bcd4e6 !important;
    border-color: #bcd4e6 !important;
}

.cbbag-beaver {
    background-color: #9f8170 !important;
    border-color: #9f8170 !important;
}

.cbbag-begonia {
    background-color: #fa6e79 !important;
    border-color: #fa6e79 !important;
}

.cbbag-beige {
    background-color: #f5f5dc !important;
    border-color: #f5f5dc !important;
}

.cbbag-bdazzled-blue {
    background-color: #2e5894 !important;
    border-color: #2e5894 !important;
}

.cbbag-big-dip-o-ruby {
    background-color: #9c2542 !important;
    border-color: #9c2542 !important;
}

.cbbag-big-foot-feet {
    background-color: #e88e5a !important;
    border-color: #e88e5a !important;
}

.cbbag-bisque {
    background-color: #ffe4c4 !important;
    border-color: #ffe4c4 !important;
}

.cbbag-bistre {
    background-color: #3d2b1f !important;
    border-color: #3d2b1f !important;
}

.cbbag-bistre-brown {
    background-color: #967117 !important;
    border-color: #967117 !important;
}

.cbbag-bitter-lemon {
    background-color: #cae00d !important;
    border-color: #cae00d !important;
}

.cbbag-bitter-lime {
    background-color: #bfff00 !important;
    border-color: #bfff00 !important;
}

.cbbag-bittersweet {
    background-color: #fe6f5e !important;
    border-color: #fe6f5e !important;
}

.cbbag-bittersweet-shimmer {
    background-color: #bf4f51 !important;
    border-color: #bf4f51 !important;
}

.cbbag-black {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.cbbag-black-bean {
    background-color: #3d0c02 !important;
    border-color: #3d0c02 !important;
}

.cbbag-black-coral {
    background-color: #54626f !important;
    border-color: #54626f !important;
}

.cbbag-black-leather-jacket {
    background-color: #253529 !important;
    border-color: #253529 !important;
}

.cbbag-black-olive {
    background-color: #3b3c36 !important;
    border-color: #3b3c36 !important;
}

.cbbag-black-shadows {
    background-color: #bfafb2 !important;
    border-color: #bfafb2 !important;
}

.cbbag-blanched-almond {
    background-color: #ffebcd !important;
    border-color: #ffebcd !important;
}

.cbbag-blast-off-bronze {
    background-color: #a57164 !important;
    border-color: #a57164 !important;
}

.cbbag-bleu-de-france {
    background-color: #318ce7 !important;
    border-color: #318ce7 !important;
}

.cbbag-blizzard-blue {
    background-color: #ace5ee !important;
    border-color: #ace5ee !important;
}

.cbbag-blond {
    background-color: #faf0be !important;
    border-color: #faf0be !important;
}

.cbbag-blood-orange {
    background-color: #d1001c !important;
    border-color: #d1001c !important;
}

.cbbag-blood-red {
    background-color: #660000 !important;
    border-color: #660000 !important;
}

.cbbag-blue-1 {
    background-color: #0000ff !important;
    border-color: #0000ff !important;
}

.cbbag-blue-2 {
    background-color: #1f75fe !important;
    border-color: #1f75fe !important;
}

.cbbag-blue-3 {
    background-color: #0093af !important;
    border-color: #0093af !important;
}

.cbbag-blue-4 {
    background-color: #0087bd !important;
    border-color: #0087bd !important;
}

.cbbag-blue-5 {
    background-color: #0018a8 !important;
    border-color: #0018a8 !important;
}

.cbbag-blue-6 {
    background-color: #333399 !important;
    border-color: #333399 !important;
}

.cbbag-blue-7 {
    background-color: #0247fe !important;
    border-color: #0247fe !important;
}

.cbbag-blue-bell {
    background-color: #a2a2d0 !important;
    border-color: #a2a2d0 !important;
}

.cbbag-blue-bolt {
    background-color: #00b9fb !important;
    border-color: #00b9fb !important;
}

.cbbag-blue-gray {
    background-color: #6699cc !important;
    border-color: #6699cc !important;
}

.cbbag-blue-green {
    background-color: #0d98ba !important;
    border-color: #0d98ba !important;
}

.cbbag-blue-jeans {
    background-color: #5dadec !important;
    border-color: #5dadec !important;
}

.cbbag-blue-lagoon {
    background-color: #ace5ee !important;
    border-color: #ace5ee !important;
}

.cbbag-blue-magenta-violet {
    background-color: #553592 !important;
    border-color: #553592 !important;
}

.cbbag-blue-sapphire {
    background-color: #126180 !important;
    border-color: #126180 !important;
}

.cbbag-blue-violet {
    background-color: #8a2be2 !important;
    border-color: #8a2be2 !important;
}

.cbbag-blue-yonder {
    background-color: #5072a7 !important;
    border-color: #5072a7 !important;
}

.cbbag-blueberry {
    background-color: #4f86f7 !important;
    border-color: #4f86f7 !important;
}

.cbbag-bluebonnet {
    background-color: #1c1cf0 !important;
    border-color: #1c1cf0 !important;
}

.cbbag-blush {
    background-color: #de5d83 !important;
    border-color: #de5d83 !important;
}

.cbbag-bole {
    background-color: #79443b !important;
    border-color: #79443b !important;
}

.cbbag-bondi-blue {
    background-color: #0095b6 !important;
    border-color: #0095b6 !important;
}

.cbbag-bone {
    background-color: #e3dac9 !important;
    border-color: #e3dac9 !important;
}

.cbbag-booger-buster {
    background-color: #dde26a !important;
    border-color: #dde26a !important;
}

.cbbag-boston-university-red {
    background-color: #cc0000 !important;
    border-color: #cc0000 !important;
}

.cbbag-bottle-green {
    background-color: #006a4e !important;
    border-color: #006a4e !important;
}

.cbbag-boysenberry {
    background-color: #873260 !important;
    border-color: #873260 !important;
}

.cbbag-brandeis-blue {
    background-color: #0070ff !important;
    border-color: #0070ff !important;
}

.cbbag-brass {
    background-color: #b5a642 !important;
    border-color: #b5a642 !important;
}

.cbbag-brick-red {
    background-color: #cb4154 !important;
    border-color: #cb4154 !important;
}

.cbbag-bright-cerulean {
    background-color: #1dacd6 !important;
    border-color: #1dacd6 !important;
}

.cbbag-bright-gray {
    background-color: #ebecf0 !important;
    border-color: #ebecf0 !important;
}

.cbbag-bright-green {
    background-color: #66ff00 !important;
    border-color: #66ff00 !important;
}

.cbbag-bright-lavender {
    background-color: #bf94e4 !important;
    border-color: #bf94e4 !important;
}

.cbbag-bright-lilac {
    background-color: #d891ef !important;
    border-color: #d891ef !important;
}

.cbbag-bright-maroon {
    background-color: #c32148 !important;
    border-color: #c32148 !important;
}

.cbbag-bright-navy-blue {
    background-color: #1974d2 !important;
    border-color: #1974d2 !important;
}

.cbbag-bright-pink {
    background-color: #ff007f !important;
    border-color: #ff007f !important;
}

.cbbag-bright-turquoise {
    background-color: #08e8de !important;
    border-color: #08e8de !important;
}

.cbbag-bright-ube {
    background-color: #d19fe8 !important;
    border-color: #d19fe8 !important;
}

.cbbag-bright-yellow-2 {
    background-color: #ffaa1d !important;
    border-color: #ffaa1d !important;
}

.cbbag-brilliant-azure {
    background-color: #3399ff !important;
    border-color: #3399ff !important;
}

.cbbag-brilliant-lavender {
    background-color: #f4bbff !important;
    border-color: #f4bbff !important;
}

.cbbag-brilliant-rose {
    background-color: #ff55a3 !important;
    border-color: #ff55a3 !important;
}

.cbbag-brink-pink {
    background-color: #fb607f !important;
    border-color: #fb607f !important;
}

.cbbag-british-racing-green {
    background-color: #004225 !important;
    border-color: #004225 !important;
}

.cbbag-bronze {
    background-color: #88540b !important;
    border-color: #88540b !important;
}

.cbbag-bronze-3 {
    background-color: #cd7f32 !important;
    border-color: #cd7f32 !important;
}

.cbbag-bronze-yellow {
    background-color: #737000 !important;
    border-color: #737000 !important;
}

.cbbag-brown-2 {
    background-color: #a52a2a !important;
    border-color: #a52a2a !important;
}

.cbbag-brown-nose {
    background-color: #6b4423 !important;
    border-color: #6b4423 !important;
}

.cbbag-brown-sugar {
    background-color: #af6e4d !important;
    border-color: #af6e4d !important;
}

.cbbag-brown-yellow {
    background-color: #cc9966 !important;
    border-color: #cc9966 !important;
}

.cbbag-brunswick-green {
    background-color: #1b4d3e !important;
    border-color: #1b4d3e !important;
}

.cbbag-bubble-gum {
    background-color: #ffc1cc !important;
    border-color: #ffc1cc !important;
}

.cbbag-bubbles {
    background-color: #e7feff !important;
    border-color: #e7feff !important;
}

.cbbag-bud-green {
    background-color: #7bb661 !important;
    border-color: #7bb661 !important;
}

.cbbag-buff {
    background-color: #f0dc82 !important;
    border-color: #f0dc82 !important;
}

.cbbag-bulgarian-rose {
    background-color: #480607 !important;
    border-color: #480607 !important;
}

.cbbag-burgundy {
    background-color: #800020 !important;
    border-color: #800020 !important;
}

.cbbag-burlywood {
    background-color: #deb887 !important;
    border-color: #deb887 !important;
}

.cbbag-burnished-brown {
    background-color: #a17a74 !important;
    border-color: #a17a74 !important;
}

.cbbag-burnt-orange {
    background-color: #cc5500 !important;
    border-color: #cc5500 !important;
}

.cbbag-burnt-sienna {
    background-color: #e97451 !important;
    border-color: #e97451 !important;
}

.cbbag-burnt-umber {
    background-color: #8a3324 !important;
    border-color: #8a3324 !important;
}

.cbbag-button-blue {
    background-color: #24a0ed !important;
    border-color: #24a0ed !important;
}

.cbbag-byzantine {
    background-color: #bd33a4 !important;
    border-color: #bd33a4 !important;
}

.cbbag-byzantium {
    background-color: #702963 !important;
    border-color: #702963 !important;
}

.cbbag-cadet {
    background-color: #536872 !important;
    border-color: #536872 !important;
}

.cbbag-cadet-blue {
    background-color: #5f9ea0 !important;
    border-color: #5f9ea0 !important;
}

.cbbag-cadet-grey {
    background-color: #91a3b0 !important;
    border-color: #91a3b0 !important;
}

.cbbag-cadmium-blue {
    background-color: #0a1195 !important;
    border-color: #0a1195 !important;
}

.cbbag-cadmium-green {
    background-color: #006b3c !important;
    border-color: #006b3c !important;
}

.cbbag-cadmium-orange {
    background-color: #ed872d !important;
    border-color: #ed872d !important;
}

.cbbag-cadmium-red {
    background-color: #e30022 !important;
    border-color: #e30022 !important;
}

.cbbag-cadmium-yellow {
    background-color: #fff600 !important;
    border-color: #fff600 !important;
}

.cbbag-café-au-lait {
    background-color: #a67b5b !important;
    border-color: #a67b5b !important;
}

.cbbag-café-noir {
    background-color: #4b3621 !important;
    border-color: #4b3621 !important;
}

.cbbag-cal-poly-pomona-green {
    background-color: #1e4d2b !important;
    border-color: #1e4d2b !important;
}

.cbbag-cambridge-blue {
    background-color: #a3c1ad !important;
    border-color: #a3c1ad !important;
}

.cbbag-camel {
    background-color: #c19a6b !important;
    border-color: #c19a6b !important;
}

.cbbag-cameo-pink {
    background-color: #efbbcc !important;
    border-color: #efbbcc !important;
}

.cbbag-camouflage-green {
    background-color: #78866b !important;
    border-color: #78866b !important;
}

.cbbag-canary {
    background-color: #ffff99 !important;
    border-color: #ffff99 !important;
}

.cbbag-canary-yellow {
    background-color: #ffef00 !important;
    border-color: #ffef00 !important;
}

.cbbag-candy-apple-red {
    background-color: #ff0800 !important;
    border-color: #ff0800 !important;
}

.cbbag-candy-pink {
    background-color: #e4717a !important;
    border-color: #e4717a !important;
}

.cbbag-capri {
    background-color: #00bfff !important;
    border-color: #00bfff !important;
}

.cbbag-caput-mortuum {
    background-color: #592720 !important;
    border-color: #592720 !important;
}

.cbbag-cardinal {
    background-color: #c41e3a !important;
    border-color: #c41e3a !important;
}

.cbbag-caribbean-green {
    background-color: #00cc99 !important;
    border-color: #00cc99 !important;
}

.cbbag-carmine {
    background-color: #960018 !important;
    border-color: #960018 !important;
}

.cbbag-carmine {
    background-color: #d70040 !important;
    border-color: #d70040 !important;
}

.cbbag-carmine-pink {
    background-color: #eb4c42 !important;
    border-color: #eb4c42 !important;
}

.cbbag-carmine-red {
    background-color: #ff0038 !important;
    border-color: #ff0038 !important;
}

.cbbag-carnation-pink {
    background-color: #ffa6c9 !important;
    border-color: #ffa6c9 !important;
}

.cbbag-carnelian {
    background-color: #b31b1b !important;
    border-color: #b31b1b !important;
}

.cbbag-carolina-blue {
    background-color: #56a0d3 !important;
    border-color: #56a0d3 !important;
}

.cbbag-carrot-orange {
    background-color: #ed9121 !important;
    border-color: #ed9121 !important;
}

.cbbag-castleton-green {
    background-color: #00563f !important;
    border-color: #00563f !important;
}

.cbbag-catalina-blue {
    background-color: #062a78 !important;
    border-color: #062a78 !important;
}

.cbbag-catawba {
    background-color: #703642 !important;
    border-color: #703642 !important;
}

.cbbag-cedar-chest {
    background-color: #c95a49 !important;
    border-color: #c95a49 !important;
}

.cbbag-ceil {
    background-color: #92a1cf !important;
    border-color: #92a1cf !important;
}

.cbbag-celadon {
    background-color: #ace1af !important;
    border-color: #ace1af !important;
}

.cbbag-celadon-blue {
    background-color: #007ba7 !important;
    border-color: #007ba7 !important;
}

.cbbag-celadon-green {
    background-color: #2f847c !important;
    border-color: #2f847c !important;
}

.cbbag-celeste {
    background-color: #b2ffff !important;
    border-color: #b2ffff !important;
}

.cbbag-celestial-blue {
    background-color: #4997d0 !important;
    border-color: #4997d0 !important;
}

.cbbag-cerise {
    background-color: #de3163 !important;
    border-color: #de3163 !important;
}

.cbbag-cerise-pink {
    background-color: #ec3b83 !important;
    border-color: #ec3b83 !important;
}

.cbbag-cerulean {
    background-color: #007ba7 !important;
    border-color: #007ba7 !important;
}

.cbbag-cerulean-blue {
    background-color: #2a52be !important;
    border-color: #2a52be !important;
}

.cbbag-cerulean-frost {
    background-color: #6d9bc3 !important;
    border-color: #6d9bc3 !important;
}

.cbbag-cg-blue {
    background-color: #007aa5 !important;
    border-color: #007aa5 !important;
}

.cbbag-cg-red {
    background-color: #e03c31 !important;
    border-color: #e03c31 !important;
}

.cbbag-chamoisee {
    background-color: #a0785a !important;
    border-color: #a0785a !important;
}

.cbbag-champagne {
    background-color: #f7e7ce !important;
    border-color: #f7e7ce !important;
}

.cbbag-champagne-pink {
    background-color: #f1ddcf !important;
    border-color: #f1ddcf !important;
}

.cbbag-charcoal {
    background-color: #36454f !important;
    border-color: #36454f !important;
}

.cbbag-charleston-green {
    background-color: #232b2b !important;
    border-color: #232b2b !important;
}

.cbbag-charm {
    background-color: #d0748b !important;
    border-color: #d0748b !important;
}

.cbbag-charm-pink {
    background-color: #e68fac !important;
    border-color: #e68fac !important;
}

.cbbag-chartreuse {
    background-color: #7fff00 !important;
    border-color: #7fff00 !important;
}

.cbbag-cherry {
    background-color: #de3163 !important;
    border-color: #de3163 !important;
}

.cbbag-cherry-blossom-pink {
    background-color: #ffb7c5 !important;
    border-color: #ffb7c5 !important;
}

.cbbag-chestnut {
    background-color: #954535 !important;
    border-color: #954535 !important;
}

.cbbag-china-pink {
    background-color: #de6fa1 !important;
    border-color: #de6fa1 !important;
}

.cbbag-china-rose {
    background-color: #a8516e !important;
    border-color: #a8516e !important;
}

.cbbag-chinese-blue {
    background-color: #365194 !important;
    border-color: #365194 !important;
}

.cbbag-chinese-brown {
    background-color: #ab381f !important;
    border-color: #ab381f !important;
}

.cbbag-chinese-green {
    background-color: #d0db61 !important;
    border-color: #d0db61 !important;
}

.cbbag-chinese-gold {
    background-color: #cc9900 !important;
    border-color: #cc9900 !important;
}

.cbbag-chinese-orange {
    background-color: #f37042 !important;
    border-color: #f37042 !important;
}

.cbbag-chinese-pink {
    background-color: #de70a1 !important;
    border-color: #de70a1 !important;
}

.cbbag-chinese-purple {
    background-color: #720b98 !important;
    border-color: #720b98 !important;
}

.cbbag-chinese-red {
    background-color: #cd071e !important;
    border-color: #cd071e !important;
}

.cbbag-chinese-red {
    background-color: #aa381e !important;
    border-color: #aa381e !important;
}

.cbbag-chinese-silver {
    background-color: #cccccc !important;
    border-color: #cccccc !important;
}

.cbbag-chinese-violet {
    background-color: #856088 !important;
    border-color: #856088 !important;
}

.cbbag-chinese-yellow {
    background-color: #ffb200 !important;
    border-color: #ffb200 !important;
}

.cbbag-chlorophyll-green {
    background-color: #4aff00 !important;
    border-color: #4aff00 !important;
}

.cbbag-chocolate {
    background-color: #d2691e !important;
    border-color: #d2691e !important;
}

.cbbag-christmas-blue {
    background-color: #2a8fbd !important;
    border-color: #2a8fbd !important;
}

.cbbag-christmas-blue {
    background-color: #365194 !important;
    border-color: #365194 !important;
}

.cbbag-christmas-brown {
    background-color: #5d2b2c !important;
    border-color: #5d2b2c !important;
}

.cbbag-christmas-brown {
    background-color: #4c1f02 !important;
    border-color: #4c1f02 !important;
}

.cbbag-christmas-green {
    background-color: #3c8d0d !important;
    border-color: #3c8d0d !important;
}

.cbbag-christmas-green {
    background-color: #00754b !important;
    border-color: #00754b !important;
}

.cbbag-christmas-gold {
    background-color: #caa906 !important;
    border-color: #caa906 !important;
}

.cbbag-christmas-orange {
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
}

.cbbag-christmas-orange {
    background-color: #d56c2b !important;
    border-color: #d56c2b !important;
}

.cbbag-christmas-pink {
    background-color: #ffcccb !important;
    border-color: #ffcccb !important;
}

.cbbag-christmas-pink {
    background-color: #e34285 !important;
    border-color: #e34285 !important;
}

.cbbag-christmas-purple {
    background-color: #663398 !important;
    border-color: #663398 !important;
}

.cbbag-christmas-purple {
    background-color: #4d084b !important;
    border-color: #4d084b !important;
}

.cbbag-christmas-red {
    background-color: #aa0114 !important;
    border-color: #aa0114 !important;
}

.cbbag-christmas-red {
    background-color: #b01b2e !important;
    border-color: #b01b2e !important;
}

.cbbag-christmas-silver {
    background-color: #e1dfe0 !important;
    border-color: #e1dfe0 !important;
}

.cbbag-christmas-yellow {
    background-color: #ffcc00 !important;
    border-color: #ffcc00 !important;
}

.cbbag-christmas-yellow {
    background-color: #fef200 !important;
    border-color: #fef200 !important;
}

.cbbag-chrome-yellow {
    background-color: #ffa700 !important;
    border-color: #ffa700 !important;
}

.cbbag-cinereous {
    background-color: #98817b !important;
    border-color: #98817b !important;
}

.cbbag-cinnabar {
    background-color: #e34234 !important;
    border-color: #e34234 !important;
}

.cbbag-cinnamon {
    background-color: #d2691e !important;
    border-color: #d2691e !important;
}

.cbbag-cinnamon-satin {
    background-color: #cd607e !important;
    border-color: #cd607e !important;
}

.cbbag-citrine {
    background-color: #e4d00a !important;
    border-color: #e4d00a !important;
}

.cbbag-citron {
    background-color: #9fa91f !important;
    border-color: #9fa91f !important;
}

.cbbag-claret {
    background-color: #7f1734 !important;
    border-color: #7f1734 !important;
}

.cbbag-classic-rose {
    background-color: #fbcce7 !important;
    border-color: #fbcce7 !important;
}

.cbbag-cobalt-blue {
    background-color: #0047ab !important;
    border-color: #0047ab !important;
}

.cbbag-cocoa-brown {
    background-color: #d2691e !important;
    border-color: #d2691e !important;
}

.cbbag-coconut {
    background-color: #965a3e !important;
    border-color: #965a3e !important;
}

.cbbag-coffee {
    background-color: #6f4e37 !important;
    border-color: #6f4e37 !important;
}

.cbbag-cola {
    background-color: #3c3024 !important;
    border-color: #3c3024 !important;
}

.cbbag-columbia-blue {
    background-color: #c4d8e2 !important;
    border-color: #c4d8e2 !important;
}

.cbbag-conditioner {
    background-color: #ffffcc !important;
    border-color: #ffffcc !important;
}

.cbbag-congo-pink {
    background-color: #f88379 !important;
    border-color: #f88379 !important;
}

.cbbag-cool-black {
    background-color: #002e63 !important;
    border-color: #002e63 !important;
}

.cbbag-cool-grey {
    background-color: #8c92ac !important;
    border-color: #8c92ac !important;
}

.cbbag-copper {
    background-color: #b87333 !important;
    border-color: #b87333 !important;
}

.cbbag-copper-penny {
    background-color: #ad6f69 !important;
    border-color: #ad6f69 !important;
}

.cbbag-copper-red {
    background-color: #cb6d51 !important;
    border-color: #cb6d51 !important;
}

.cbbag-copper-rose {
    background-color: #996666 !important;
    border-color: #996666 !important;
}

.cbbag-coquelicot {
    background-color: #ff3800 !important;
    border-color: #ff3800 !important;
}

.cbbag-coral {
    background-color: #ff7f50 !important;
    border-color: #ff7f50 !important;
}

.cbbag-coral-pink {
    background-color: #f88379 !important;
    border-color: #f88379 !important;
}

.cbbag-coral-red {
    background-color: #ff4040 !important;
    border-color: #ff4040 !important;
}

.cbbag-coral-reef {
    background-color: #fd7c6e !important;
    border-color: #fd7c6e !important;
}

.cbbag-cordovan {
    background-color: #893f45 !important;
    border-color: #893f45 !important;
}

.cbbag-corn {
    background-color: #fbec5d !important;
    border-color: #fbec5d !important;
}

.cbbag-cornell-red {
    background-color: #b31b1b !important;
    border-color: #b31b1b !important;
}

.cbbag-cornflower-blue {
    background-color: #6495ed !important;
    border-color: #6495ed !important;
}

.cbbag-cornsilk {
    background-color: #fff8dc !important;
    border-color: #fff8dc !important;
}

.cbbag-cosmic-cobalt {
    background-color: #2e2d88 !important;
    border-color: #2e2d88 !important;
}

.cbbag-cosmic-latte {
    background-color: #fff8e7 !important;
    border-color: #fff8e7 !important;
}

.cbbag-coyote-brown {
    background-color: #81613c !important;
    border-color: #81613c !important;
}

.cbbag-cotton-candy {
    background-color: #ffbcd9 !important;
    border-color: #ffbcd9 !important;
}

.cbbag-cream {
    background-color: #fffdd0 !important;
    border-color: #fffdd0 !important;
}

.cbbag-crimson {
    background-color: #dc143c !important;
    border-color: #dc143c !important;
}

.cbbag-crimson-glory {
    background-color: #be0032 !important;
    border-color: #be0032 !important;
}

.cbbag-crimson-red {
    background-color: #990000 !important;
    border-color: #990000 !important;
}

.cbbag-cultured {
    background-color: #f5f5f5 !important;
    border-color: #f5f5f5 !important;
}

.cbbag-cyan {
    background-color: #00ffff !important;
    border-color: #00ffff !important;
}

.cbbag-cyan-azure {
    background-color: #4e82b4 !important;
    border-color: #4e82b4 !important;
}

.cbbag-cyan-blue-azure {
    background-color: #4682bf !important;
    border-color: #4682bf !important;
}

.cbbag-cyan-cobalt-blue {
    background-color: #28589c !important;
    border-color: #28589c !important;
}

.cbbag-cyan-cornflower-blue {
    background-color: #188bc2 !important;
    border-color: #188bc2 !important;
}

.cbbag-cyber-grape {
    background-color: #58427c !important;
    border-color: #58427c !important;
}

.cbbag-cyber-yellow {
    background-color: #ffd300 !important;
    border-color: #ffd300 !important;
}

.cbbag-cyclamen {
    background-color: #f56fa1 !important;
    border-color: #f56fa1 !important;
}

.cbbag-daffodil {
    background-color: #ffff31 !important;
    border-color: #ffff31 !important;
}

.cbbag-dandelion {
    background-color: #f0e130 !important;
    border-color: #f0e130 !important;
}

.cbbag-dark-blue {
    background-color: #00008b !important;
    border-color: #00008b !important;
}

.cbbag-dark-blue-gray {
    background-color: #666699 !important;
    border-color: #666699 !important;
}

.cbbag-dark-bronze {
    background-color: #804a00 !important;
    border-color: #804a00 !important;
}

.cbbag-dark-brown {
    background-color: #654321 !important;
    border-color: #654321 !important;
}

.cbbag-dark-brown-tangelo {
    background-color: #88654e !important;
    border-color: #88654e !important;
}

.cbbag-dark-byzantium {
    background-color: #5d3954 !important;
    border-color: #5d3954 !important;
}

.cbbag-dark-candy-apple-red {
    background-color: #a40000 !important;
    border-color: #a40000 !important;
}

.cbbag-dark-cerulean {
    background-color: #08457e !important;
    border-color: #08457e !important;
}

.cbbag-dark-charcoal {
    background-color: #333333 !important;
    border-color: #333333 !important;
}

.cbbag-dark-chestnut {
    background-color: #986960 !important;
    border-color: #986960 !important;
}

.cbbag-dark-chocolate {
    background-color: #490206 !important;
    border-color: #490206 !important;
}

.cbbag-dark-coral {
    background-color: #cd5b45 !important;
    border-color: #cd5b45 !important;
}

.cbbag-dark-cyan {
    background-color: #008b8b !important;
    border-color: #008b8b !important;
}

.cbbag-dark-electric-blue {
    background-color: #536878 !important;
    border-color: #536878 !important;
}

.cbbag-dark-goldenrod {
    background-color: #b8860b !important;
    border-color: #b8860b !important;
}

.cbbag-dark-gray {
    background-color: #a9a9a9 !important;
    border-color: #a9a9a9 !important;
}

.cbbag-dark-green {
    background-color: #013220 !important;
    border-color: #013220 !important;
}

.cbbag-dark-gunmetal {
    background-color: #1f262a !important;
    border-color: #1f262a !important;
}

.cbbag-dark-imperial-blue {
    background-color: #00416a !important;
    border-color: #00416a !important;
}

.cbbag-dark-imperial-blue {
    background-color: #00147e !important;
    border-color: #00147e !important;
}

.cbbag-dark-jungle-green {
    background-color: #1a2421 !important;
    border-color: #1a2421 !important;
}

.cbbag-dark-khaki {
    background-color: #bdb76b !important;
    border-color: #bdb76b !important;
}

.cbbag-dark-lava {
    background-color: #483c32 !important;
    border-color: #483c32 !important;
}

.cbbag-dark-lavender {
    background-color: #734f96 !important;
    border-color: #734f96 !important;
}

.cbbag-dark-liver {
    background-color: #534b4f !important;
    border-color: #534b4f !important;
}

.cbbag-dark-liver-2 {
    background-color: #543d37 !important;
    border-color: #543d37 !important;
}

.cbbag-dark-magenta {
    background-color: #8b008b !important;
    border-color: #8b008b !important;
}

.cbbag-dark-medium-gray {
    background-color: #a9a9a9 !important;
    border-color: #a9a9a9 !important;
}

.cbbag-dark-midnight-blue {
    background-color: #003366 !important;
    border-color: #003366 !important;
}

.cbbag-dark-moss-green {
    background-color: #4a5d23 !important;
    border-color: #4a5d23 !important;
}

.cbbag-dark-olive-green {
    background-color: #556b2f !important;
    border-color: #556b2f !important;
}

.cbbag-dark-orange {
    background-color: #ff8c00 !important;
    border-color: #ff8c00 !important;
}

.cbbag-dark-orchid {
    background-color: #9932cc !important;
    border-color: #9932cc !important;
}

.cbbag-dark-pastel-blue {
    background-color: #779ecb !important;
    border-color: #779ecb !important;
}

.cbbag-dark-pastel-green {
    background-color: #03c03c !important;
    border-color: #03c03c !important;
}

.cbbag-dark-pastel-purple {
    background-color: #966fd6 !important;
    border-color: #966fd6 !important;
}

.cbbag-dark-pastel-red {
    background-color: #c23b22 !important;
    border-color: #c23b22 !important;
}

.cbbag-dark-pink {
    background-color: #e75480 !important;
    border-color: #e75480 !important;
}

.cbbag-dark-powder-blue {
    background-color: #003399 !important;
    border-color: #003399 !important;
}

.cbbag-dark-puce {
    background-color: #4f3a3c !important;
    border-color: #4f3a3c !important;
}

.cbbag-dark-purple {
    background-color: #301934 !important;
    border-color: #301934 !important;
}

.cbbag-dark-raspberry {
    background-color: #872657 !important;
    border-color: #872657 !important;
}

.cbbag-dark-red {
    background-color: #8b0000 !important;
    border-color: #8b0000 !important;
}

.cbbag-dark-salmon {
    background-color: #e9967a !important;
    border-color: #e9967a !important;
}

.cbbag-dark-scarlet {
    background-color: #560319 !important;
    border-color: #560319 !important;
}

.cbbag-dark-sea-green {
    background-color: #8fbc8f !important;
    border-color: #8fbc8f !important;
}

.cbbag-dark-sienna {
    background-color: #3c1414 !important;
    border-color: #3c1414 !important;
}

.cbbag-dark-sky-blue {
    background-color: #8cbed6 !important;
    border-color: #8cbed6 !important;
}

.cbbag-dark-slate-blue {
    background-color: #483d8b !important;
    border-color: #483d8b !important;
}

.cbbag-dark-slate-gray {
    background-color: #2f4f4f !important;
    border-color: #2f4f4f !important;
}

.cbbag-dark-spring-green {
    background-color: #177245 !important;
    border-color: #177245 !important;
}

.cbbag-dark-tan {
    background-color: #918151 !important;
    border-color: #918151 !important;
}

.cbbag-dark-tangerine {
    background-color: #ffa812 !important;
    border-color: #ffa812 !important;
}

.cbbag-dark-taupe {
    background-color: #483c32 !important;
    border-color: #483c32 !important;
}

.cbbag-dark-terra-cotta {
    background-color: #cc4e5c !important;
    border-color: #cc4e5c !important;
}

.cbbag-dark-turquoise {
    background-color: #00ced1 !important;
    border-color: #00ced1 !important;
}

.cbbag-dark-vanilla {
    background-color: #d1bea8 !important;
    border-color: #d1bea8 !important;
}

.cbbag-dark-violet {
    background-color: #9400d3 !important;
    border-color: #9400d3 !important;
}

.cbbag-dark-yellow {
    background-color: #9b870c !important;
    border-color: #9b870c !important;
}

.cbbag-dartmouth-green {
    background-color: #00703c !important;
    border-color: #00703c !important;
}

.cbbag-davy's-grey{
 background-color:#555555 !important;
border-color:#555555 !important;

}
.cbbag-debian-red {
    background-color: #d70a53 !important;
    border-color: #d70a53 !important;
}
.cbbag-deep-amethyst {
    background-color: #9c8aa4 !important;
    border-color: #9c8aa4 !important;
}
.cbbag-deep-aquamarine {
    background-color: #40826d !important;
    border-color: #40826d !important;
}
.cbbag-deep-carmine {
    background-color: #a9203e !important;
    border-color: #a9203e !important;
}
.cbbag-deep-carmine-pink {
    background-color: #ef3038 !important;
    border-color: #ef3038 !important;
}
.cbbag-deep-carrot-orange {
    background-color: #e9692c !important;
    border-color: #e9692c !important;
}
.cbbag-deep-cerise {
    background-color: #da3287 !important;
    border-color: #da3287 !important;
}
.cbbag-deep-champagne {
    background-color: #fad6a5 !important;
    border-color: #fad6a5 !important;
}
.cbbag-deep-chestnut {
    background-color: #b94e48 !important;
    border-color: #b94e48 !important;
}
.cbbag-deep-coffee {
    background-color: #704241 !important;
    border-color: #704241 !important;
}
.cbbag-deep-fuchsia {
    background-color: #c154c1 !important;
    border-color: #c154c1 !important;
}
.cbbag-deep-green {
    background-color: #056608 !important;
    border-color: #056608 !important;
}
.cbbag-deep-green-cyan-turquoise {
    background-color: #0e7c61 !important;
    border-color: #0e7c61 !important;
}
.cbbag-deep-jungle-green {
    background-color: #004b49 !important;
    border-color: #004b49 !important;
}
.cbbag-deep-koamaru {
    background-color: #333366 !important;
    border-color: #333366 !important;
}
.cbbag-deep-lemon {
    background-color: #f5c71a !important;
    border-color: #f5c71a !important;
}
.cbbag-deep-lilac {
    background-color: #9955bb !important;
    border-color: #9955bb !important;
}
.cbbag-deep-magenta {
    background-color: #cc00cc !important;
    border-color: #cc00cc !important;
}
.cbbag-deep-maroon {
    background-color: #820000 !important;
    border-color: #820000 !important;
}
.cbbag-deep-mauve {
    background-color: #d473d4 !important;
    border-color: #d473d4 !important;
}
.cbbag-deep-moss-green {
    background-color: #355e3b !important;
    border-color: #355e3b !important;
}
.cbbag-deep-peach {
    background-color: #ffcba4 !important;
    border-color: #ffcba4 !important;
}
.cbbag-deep-pink {
    background-color: #ff1493 !important;
    border-color: #ff1493 !important;
}
.cbbag-deep-puce {
    background-color: #a95c68 !important;
    border-color: #a95c68 !important;
}
.cbbag-deep-red {
    background-color: #850101 !important;
    border-color: #850101 !important;
}
.cbbag-deep-ruby {
    background-color: #843f5b !important;
    border-color: #843f5b !important;
}
.cbbag-deep-saffron {
    background-color: #ff9933 !important;
    border-color: #ff9933 !important;
}
.cbbag-deep-sky-blue {
    background-color: #00bfff !important;
    border-color: #00bfff !important;
}
.cbbag-deep-space-sparkle {
    background-color: #4a646c !important;
    border-color: #4a646c !important;
}
.cbbag-deep-spring-bud {
    background-color: #556b2f !important;
    border-color: #556b2f !important;
}
.cbbag-deep-taupe {
    background-color: #7e5e60 !important;
    border-color: #7e5e60 !important;
}
.cbbag-deep-tuscan-red {
    background-color: #66424d !important;
    border-color: #66424d !important;
}
.cbbag-deep-violet {
    background-color: #330066 !important;
    border-color: #330066 !important;
}
.cbbag-deer {
    background-color: #ba8759 !important;
    border-color: #ba8759 !important;
}
.cbbag-denim {
    background-color: #1560bd !important;
    border-color: #1560bd !important;
}
.cbbag-denim-blue {
    background-color: #2243b6 !important;
    border-color: #2243b6 !important;
}
.cbbag-desaturated-cyan {
    background-color: #669999 !important;
    border-color: #669999 !important;
}
.cbbag-desert {
    background-color: #c19a6b !important;
    border-color: #c19a6b !important;
}
.cbbag-desert-sand {
    background-color: #edc9af !important;
    border-color: #edc9af !important;
}
.cbbag-desire {
    background-color: #ea3c53 !important;
    border-color: #ea3c53 !important;
}
.cbbag-diamond {
    background-color: #b9f2ff !important;
    border-color: #b9f2ff !important;
}
.cbbag-dim-gray {
    background-color: #696969 !important;
    border-color: #696969 !important;
}
.cbbag-dingy-dungeon {
    background-color: #c53151 !important;
    border-color: #c53151 !important;
}
.cbbag-dirt {
    background-color: #9b7653 !important;
    border-color: #9b7653 !important;
}
.cbbag-dodger-blue {
    background-color: #1e90ff !important;
    border-color: #1e90ff !important;
}
.cbbag-dodie-yellow {
    background-color: #fef65b !important;
    border-color: #fef65b !important;
}
.cbbag-dogwood-rose {
    background-color: #d71868 !important;
    border-color: #d71868 !important;
}
.cbbag-dollar-bill {
    background-color: #85bb65 !important;
    border-color: #85bb65 !important;
}
.cbbag-dolphin-gray {
    background-color: #828e84 !important;
    border-color: #828e84 !important;
}
.cbbag-donkey-brown {
    background-color: #664c28 !important;
    border-color: #664c28 !important;
}
.cbbag-drab {
    background-color: #967117 !important;
    border-color: #967117 !important;
}
.cbbag-duke-blue {
    background-color: #00009c !important;
    border-color: #00009c !important;
}
.cbbag-dust-storm {
    background-color: #e5ccc9 !important;
    border-color: #e5ccc9 !important;
}
.cbbag-dutch-white {
    background-color: #efdfbb !important;
    border-color: #efdfbb !important;
}
.cbbag-earth-yellow {
    background-color: #e1a95f !important;
    border-color: #e1a95f !important;
}
.cbbag-ebony {
    background-color: #555d50 !important;
    border-color: #555d50 !important;
}
.cbbag-ecru {
    background-color: #c2b280 !important;
    border-color: #c2b280 !important;
}
.cbbag-eerie-black {
    background-color: #1b1b1b !important;
    border-color: #1b1b1b !important;
}
.cbbag-eggplant {
    background-color: #614051 !important;
    border-color: #614051 !important;
}
.cbbag-eggshell {
    background-color: #f0ead6 !important;
    border-color: #f0ead6 !important;
}
.cbbag-egyptian-blue {
    background-color: #1034a6 !important;
    border-color: #1034a6 !important;
}
.cbbag-electric-blue {
    background-color: #7df9ff !important;
    border-color: #7df9ff !important;
}
.cbbag-electric-crimson {
    background-color: #ff003f !important;
    border-color: #ff003f !important;
}
.cbbag-electric-cyan {
    background-color: #00ffff !important;
    border-color: #00ffff !important;
}
.cbbag-electric-green {
    background-color: #00ff00 !important;
    border-color: #00ff00 !important;
}
.cbbag-electric-indigo {
    background-color: #6f00ff !important;
    border-color: #6f00ff !important;
}
.cbbag-electric-lavender {
    background-color: #f4bbff !important;
    border-color: #f4bbff !important;
}
.cbbag-electric-lime {
    background-color: #ccff00 !important;
    border-color: #ccff00 !important;
}
.cbbag-electric-purple {
    background-color: #bf00ff !important;
    border-color: #bf00ff !important;
}
.cbbag-electric-ultramarine {
    background-color: #3f00ff !important;
    border-color: #3f00ff !important;
}
.cbbag-electric-violet {
    background-color: #8f00ff !important;
    border-color: #8f00ff !important;
}
.cbbag-electric-yellow {
    background-color: #ffff33 !important;
    border-color: #ffff33 !important;
}
.cbbag-emerald {
    background-color: #50c878 !important;
    border-color: #50c878 !important;
}
.cbbag-eminence {
    background-color: #6c3082 !important;
    border-color: #6c3082 !important;
}
.cbbag-english-green {
    background-color: #1b4d3e !important;
    border-color: #1b4d3e !important;
}
.cbbag-english-lavender {
    background-color: #b48395 !important;
    border-color: #b48395 !important;
}
.cbbag-english-red {
    background-color: #ab4b52 !important;
    border-color: #ab4b52 !important;
}
.cbbag-english-vermillion {
    background-color: #cc474b !important;
    border-color: #cc474b !important;
}
.cbbag-english-violet {
    background-color: #563c5c !important;
    border-color: #563c5c !important;
}
.cbbag-eton-blue {
    background-color: #96c8a2 !important;
    border-color: #96c8a2 !important;
}
.cbbag-eucalyptus {
    background-color: #44d7a8 !important;
    border-color: #44d7a8 !important;
}
.cbbag-fallow {
    background-color: #c19a6b !important;
    border-color: #c19a6b !important;
}
.cbbag-falu-red {
    background-color: #801818 !important;
    border-color: #801818 !important;
}
.cbbag-fandango {
    background-color: #b53389 !important;
    border-color: #b53389 !important;
}
.cbbag-fandango-pink {
    background-color: #de5285 !important;
    border-color: #de5285 !important;
}
.cbbag-fashion-fuchsia {
    background-color: #f400a1 !important;
    border-color: #f400a1 !important;
}
.cbbag-fawn {
    background-color: #e5aa70 !important;
    border-color: #e5aa70 !important;
}
.cbbag-feldgrau {
    background-color: #4d5d53 !important;
    border-color: #4d5d53 !important;
}
.cbbag-feldspar {
    background-color: #fdd5b1 !important;
    border-color: #fdd5b1 !important;
}
.cbbag-fern-green {
    background-color: #4f7942 !important;
    border-color: #4f7942 !important;
}
.cbbag-ferrari-red {
    background-color: #ff2800 !important;
    border-color: #ff2800 !important;
}
.cbbag-field-drab {
    background-color: #6c541e !important;
    border-color: #6c541e !important;
}
.cbbag-fiery-rose {
    background-color: #ff5470 !important;
    border-color: #ff5470 !important;
}
.cbbag-firebrick {
    background-color: #b22222 !important;
    border-color: #b22222 !important;
}
.cbbag-fire-engine-red {
    background-color: #ce2029 !important;
    border-color: #ce2029 !important;
}
.cbbag-flame {
    background-color: #e25822 !important;
    border-color: #e25822 !important;
}
.cbbag-flamingo-pink {
    background-color: #fc8eac !important;
    border-color: #fc8eac !important;
}
.cbbag-flattery {
    background-color: #6b4423 !important;
    border-color: #6b4423 !important;
}
.cbbag-flavescent {
    background-color: #f7e98e !important;
    border-color: #f7e98e !important;
}
.cbbag-flax {
    background-color: #eedc82 !important;
    border-color: #eedc82 !important;
}
.cbbag-flirt {
    background-color: #a2006d !important;
    border-color: #a2006d !important;
}
.cbbag-floral-white {
    background-color: #fffaf0 !important;
    border-color: #fffaf0 !important;
}
.cbbag-fluorescent-orange {
    background-color: #ffbf00 !important;
    border-color: #ffbf00 !important;
}
.cbbag-fluorescent-pink {
    background-color: #ff1493 !important;
    border-color: #ff1493 !important;
}
.cbbag-fluorescent-yellow {
    background-color: #ccff00 !important;
    border-color: #ccff00 !important;
}
.cbbag-folly {
    background-color: #ff004f !important;
    border-color: #ff004f !important;
}
.cbbag-forest-green {
    background-color: #228b22 !important;
    border-color: #228b22 !important;
}
.cbbag-french-beige {
    background-color: #a67b5b !important;
    border-color: #a67b5b !important;
}
.cbbag-french-bistre {
    background-color: #856d4d !important;
    border-color: #856d4d !important;
}
.cbbag-french-blue {
    background-color: #0072bb !important;
    border-color: #0072bb !important;
}
.cbbag-french-fuchsia {
    background-color: #fd3f92 !important;
    border-color: #fd3f92 !important;
}
.cbbag-french-lilac {
    background-color: #86608e !important;
    border-color: #86608e !important;
}
.cbbag-french-lime {
    background-color: #9efd38 !important;
    border-color: #9efd38 !important;
}
.cbbag-french-mauve {
    background-color: #d473d4 !important;
    border-color: #d473d4 !important;
}
.cbbag-french-pink {
    background-color: #fd6c9e !important;
    border-color: #fd6c9e !important;
}
.cbbag-french-plum {
    background-color: #811453 !important;
    border-color: #811453 !important;
}
.cbbag-french-puce {
    background-color: #4e1609 !important;
    border-color: #4e1609 !important;
}
.cbbag-french-raspberry {
    background-color: #c72c48 !important;
    border-color: #c72c48 !important;
}
.cbbag-french-rose {
    background-color: #f64a8a !important;
    border-color: #f64a8a !important;
}
.cbbag-french-sky-blue {
    background-color: #77b5fe !important;
    border-color: #77b5fe !important;
}
.cbbag-french-violet {
    background-color: #8806ce !important;
    border-color: #8806ce !important;
}
.cbbag-french-wine {
    background-color: #ac1e44 !important;
    border-color: #ac1e44 !important;
}
.cbbag-fresh-air {
    background-color: #a6e7ff !important;
    border-color: #a6e7ff !important;
}
.cbbag-frostbite {
    background-color: #e936a7 !important;
    border-color: #e936a7 !important;
}
.cbbag-fuchsia {
    background-color: #ff00ff !important;
    border-color: #ff00ff !important;
}
.cbbag-fuchsia-pink {
    background-color: #ff77ff !important;
    border-color: #ff77ff !important;
}
.cbbag-fuchsia-purple {
    background-color: #cc397b !important;
    border-color: #cc397b !important;
}
.cbbag-fuchsia-rose {
    background-color: #c74375 !important;
    border-color: #c74375 !important;
}
.cbbag-fulvous {
    background-color: #e48400 !important;
    border-color: #e48400 !important;
}
.cbbag-fuzzy-wuzzy {
    background-color: #cc6666 !important;
    border-color: #cc6666 !important;
}
.cbbag-alabaster {
    background-color: #f2f0e6 !important;
    border-color: #f2f0e6 !important;
    color: black !important;
}
.cbbag-alice-blue {
    background-color: #f0f8ff !important;
    border-color: #f0f8ff !important;
    color: black !important;
}
.cbbag-aero-blue {
    background-color: #c9ffe5 !important;
    border-color: #c9ffe5 !important;
    color: black !important;
}
.cbbag-almond {
    background-color: #efdecd !important;
    border-color: #efdecd !important;
    color: black !important;
}